* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(1, 1, 4);
    padding: 2rem;
    text-align: center;
}

h1, h2, h4, p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(251, 245, 252);
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}



.img_ben {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.info {
    margin-left: auto;
    margin-right: auto;
}

.lista1 {
    list-style-position: inside;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(251, 245, 252);
}

.lista2 {
    list-style-type: square;
    list-style-position: inside;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(251, 245, 252);
}


/* ------------ Formulario ------------  */



.campo_form {
    display: block;
    width: 30%;
    padding: 0.2rem;
    margin: 0.5rem;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    color: rgb(251, 245, 252);
}

.campo_form2 {
    display: block;
    width: 40%;
    margin-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    color: rgb(251, 245, 252);
}

.campo_form3 {
    display: block;
    width: 30%;
    padding: 0.2rem;
    margin: 0.5rem;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: rgb(251, 245, 252);
}

.lista {
    display: block;
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 1rem;
}

.lista li {
    display: inline-block;
    width: 10%;
    color: rgb(251, 245, 252);
}

.botones {
    display: flex;
    align-items: center;
    text-align: center;

}

.btn_env {
    display: block;
    width: 30%;
    padding: 0.2rem;    
    font-size: 1.3rem;
    background-color: rgb(7, 167, 1);
    margin: auto;
}

.btn_borr {
    display: block;
    width: 30%;
    padding: 0.2rem;    
    font-size: 1.3rem;
    background-color: rgb(167, 1, 1);
    margin: auto;
}



